# Partial Reload 0.x: exact structural bridge for Minecraft 1.20.1 functions.
public net.minecraft.server.ServerFunctionManager$ExecutionContext
public net.minecraft.server.ServerFunctionManager context
public net.minecraft.server.ServerFunctionManager ticking
public net.minecraft.server.ServerFunctionManager postReload
public net.minecraft.server.ServerFunctionManager library
public net.minecraft.server.ServerFunctionLibrary functions
public net.minecraft.server.ServerFunctionLibrary tags
